@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
    .sidebar{
      transition:all .4s ease-in-out;
    }

    .sidebar{
      transition:all .4s ease-in-out;
    }
  }